<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Website - About</title>
</head>

<body>
  <h1>Clifton McCook</h1>
  <p>As a computer science student, I am dedicated to understanding and mastering the complexities of technology and how
    it can be used to improve our lives. My academic pursuits include programming languages, algorithms, data
    structures, computer systems, and more. I am constantly seeking new challenges and opportunities to apply my skills
    and knowledge to solve real-world problems. My passion for technology and desire to stay up-to-date with the latest
    advancements make me an asset in the fast-paced and constantly evolving field of computer science.</p>
</body>

</html>